<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="testUserMapper" class="org.skitii.context.TestUserMapper"/>
    <bean id="testUserService" class="org.skitii.context.TestUserService">
        <property name="name" value="sk"/>
        <property name="testUserMapper" ref="testUserMapper"/>
    </bean>

    <bean id="proxyUserDao" class="org.skitii.context.factorybean.ProxyBeanFactory"/>

    <bean id="testPrototypeBeanMapper" class="org.skitii.context.TestPrototypeBeanMapper" scope="prototype" />
</beans>